@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700&display=swap');

:root{
    --primary-cl : rgba(255, 255, 255, 0.432);
    --secondary-cl : rgb(30, 30, 30);
    --third-cl : rgba(255, 255, 255, 0.507);
    
}

/*caracteristicas*/

.titulo__container{
    display: inline-block;
}

.titulo{
    font-family: 'Inconsolata', monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}


.link{
    text-decoration: none;
    
}


.type__container{
    display: inline-block;
}

.type__text{
    font-size: 5em;
    letter-spacing: 10px;
    font-family: 'Inconsolata', monospace;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    typing 2s steps(15),
    cursor .4s step-end infinite alternate
    ;
}


.titulo_home{
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 10px;
    animation: 
    typing 1s steps(30),
    cursor .4s step-end infinite alternate
    ;
}

.projects{
    font-size: 35px;
    letter-spacing: 7px;
    animation: 
    typing 1s steps(9),
    cursor .4s step-end infinite alternate
    ;
    
}

.certifications{
    font-size: 35px;
    letter-spacing: 5px;
    animation: 
    typing 1s steps(15),
    cursor .4s step-end infinite alternate
    ;
}

@keyframes cursor {
    50%{ border-color: transparent }
}

@keyframes typing {
    from { width: 0 }
}






.barNav{
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid var(--primary-cl);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}

.barNav__item{
    cursor: pointer;
    
}

/*HOME*/
 
.main__hero{
    width: 90%;
    padding: 20px 0;
}

.test__container{
    font-size: 30px;
    
}

.int__home{
    font-size: 35px;
    font-weight: 700;
    font-family: 'Inconsolata', monospace;
    letter-spacing: 10px;
    color: #4abdac;
}

/*certifications*/

.certification__container{
    width: 90%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.certification__item{
    width: 80%;
    height: 130px;
    border: 1px solid var(--primary-cl);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
    color: white;
}

.certification__icon-ct{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 40px;
    background-color: black;
}

.certification__item-info{
    height: 90%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
}

.ttl{
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    color: white;
    font-weight: 500;
}



.link_c{
    font-weight: 500;
    color: #ff4700;
}

/*projectos*/

.project__item{
    width: 80%;
    padding: 20px;
    display: flex;
    border: 1px solid var(--primary-cl);
    flex-direction: column;
    background-color: var(--secondary-cl);
    border-radius: 10px;
    gap: 20px;
}

.project__item-dpn{
    width: 80%;
    padding: 10px;
    font-size: 28px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.project__item-gt{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18px;
    gap: 10px;
}

.git_link{
    text-decoration: none;
    color: #ff4700;
}

.ytb-min{
    width: 560px;
    height: 315px
}

.BsGithub{
    font-size: 30px;
}

/*CONTACT*/

.contact_item{
    width: 40%;
    padding: 20px 0;
    border: 1px solid white;
    font-size: 27px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.contact_item:hover{
    border: 1px solid #ff4700;
    color: #ff4700;
}

.link_con{
    color: inherit;
}


@media screen and (max-width: 950px) {
    
    .titulo_home{
        font-size: 28px;
        letter-spacing: 5px;
        animation: 
        typing 1s steps(30),
        cursor .4s step-end infinite alternate
        ;
    }

    .int__home{
        font-size: 28px;
        letter-spacing: 5px;
    }
}



@media screen and (max-width: 740px) {
    
    .titulo_home{
        font-size: 28px;
        letter-spacing: 5px;
        animation: 
        typing 1s steps(30),
        cursor .4s step-end infinite alternate
        ;
    }

    
    .barNav{
        gap: 20px;
    }

    /*CERTIFICATIONS*/
    .certification__item{
        height: 195px;
        width: 85%;
        gap: 13px;
        padding: 0 13px;
    }

    .certification__icon-ct{
        height: 60px;
        width: 60px;
        font-size: 30px;
    }

    .certification__item-info{
        width: 80%;
    }

    .certification__item-info-ttl{
        font-size: 25px;
    }

    /*PROJECTS*/
    
    .ytb-min{
        width: 360px;
        height: 203px
    }

}


@media screen and (max-width: 580px) {

    .main__hero{
        width: 95%;
    }

    .titulo_home{
        font-size: 22px;
        letter-spacing: 0.5px;
        animation: 
        typing 1s steps(30),
        cursor .4s step-end infinite alternate
        ;
    }

    .int__home{
        font-size: 22px;
        letter-spacing: 2px;
    }

    /*projects*/

    .ytb-min{
        width: 260px;
        height: 147px
    }

    .project__item-gt{
        width: 100%;
        padding: 10px 5px;
        font-size: 13px;
    }

    
    .project__item{
        width: 90%;
        padding: 20px 10px;
    }

    .BsGithub{
        font-size: 20px;
    }

    .project__item-dpn{
        font-size: 25px;
    }

    /*contact*/

    .contact_item{
        font-size: 23px;
        width: 60%;
    }
}